/* First box */
#homepg {
  font-family: "Segoe UI", Tahoma, Verdana, Arial, sans-serif;
  line-height: 1.7em;
  background-color: #ff4c68;
  padding: 3% 17% 10%;
  text-align: left;
}

#navbar {
  padding-left: 12rem;
}
#navbar a {
  color: #fff;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Verdana, Arial, sans-serif;
  font-size: 2rem;
  opacity: 0.65;
}
#navbar h1 {
  font-family: "Ubuntu", "Segoe UI", "Ultrasuede";
  font-size: 4rem;
  font-weight: bolder;
  margin-left: -19%;
  margin-right: 5%;
}

#navbar ul li {
  float: left;
  list-style: none;
  padding: 0 1rem 0 1rem;
}

#meet {
  padding-top: 25%;
  padding-bottom: 10%;
}
#swipepuppy {
  width: 15rem;
  transform: rotate(30deg);
  right: 33%;
  position: absolute;
}
/* Comments box  */
#comments {
  position: relative;
  padding: 0 3rem;
  background-color: white;
}

.feature-box {
  text-align: center;
  padding: 5rem;
}
.feature-box > p {
  opacity: 0.55;
}

/* testimonials box */
#plugs {
  color: #fff;
  background-color: #ef8172;
  text-align: center;
}
.testimonial-text {
  font-size: 2.5em;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  padding: 20px;
}

.carousel-item {
  padding: 7% 15%;
}
#news > img {
  width: 20%;
  padding-bottom: 3rem;
}
/* price plans box */
#plans {
  padding: 6rem;
  text-align: center;
}
#plans > h2 {
  line-height: 1.4em;
  font-family: "Segoe UI", Tahoma, sans-serif;
}
.card > p {
  opacity: 0.5;
}
#price {
  padding: 3rem;
}
.header {
  background-color: #e0e6ed;
}
/* downloads box */
#download {
  background-color: #ff4c68;
  padding-bottom: 4rem;
  text-align: center;
  color: white;
}
#download > .container > h2 {
  padding: 5rem;
}
/* Contact Info box */
footer {
  padding-top: 5rem;
  text-align: center;
}
footer > p {
  opacity: 0.6;
  padding-top: 1rem;
}

/* Arrangements for different resolution */
@media (max-width: 1028px) {
  #homepg {
    text-align: center;
  }
  #swipepuppy {
    position: static;
    transform: rotate(0);
  }
}
